<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WKApplication</key>
	<true/>
	<key>WKRunsIndependentlyOfCompanionApp</key>
	<false/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>달리는 동안 심박을 재서 워치와 휴대폰에 보여 주려고 심박을 읽어요.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>달리모로 달린 러닝을 Apple 건강에 운동으로 남겨요. 활동 링에도 반영돼요.</string>
</dict>
</plist>
